# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS clutter
.DS_Store

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs and coverage
*.log
*.out
*.coverage
coverage/

# Test cache
.pytest_cache/
